<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout" xmlns:th="http://www.w3.org/1999/xhtml">

<body>
<div layout:fragment="content">

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa fa-bars"></i> Accounts Home</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="/index">Home</a></li>
                <li><i class="fa fa-bars"></i><a href="/accounts">Accounts</a></li>
                <li><i class="fa fa-square-o"></i>Accounts Home</li>
            </ol>
        </div>
    </div>

<!--    <div class="col-sm-4">-->
<!--        <section class="panel">-->
<!--            <div class="panel-body">-->
<!--                <div class="card">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title"><h3><b>Transactions</b></h3></h5>-->
<!--                        <p class="card-text">Contains list of Transactions and their details.</p>-->
<!--                        <a th:href="@{countries}" class="btn btn-primary">Manage Transactions</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
<!--    </div>-->
<!--    <div class="col-sm-4">-->
<!--        <section class="panel">-->
<!--            <div class="panel-body">-->
<!--                <div class="card">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title"><h3><b>Transaction Types</b></h3></h5>-->
<!--                        <p class="card-text">Contains list of Transaction Types and their details.</p>-->
<!--                        <a th:href="@{countries}" class="btn btn-primary">Manage Transaction Types</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
<!--    </div>-->
<!--    <div class="col-sm-4">-->
<!--        <section class="panel">-->
<!--            <div class="panel-body">-->
<!--                <div class="card">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title"><h3><b>Transaction Status</b></h3></h5>-->
<!--                        <p class="card-text">Contains list of Transaction Status and their details.</p>-->
<!--                        <a th:href="@{countries}" class="btn btn-primary">Manage Transaction Status</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
<!--    </div>-->
    <div class="col-sm-4">
        <section class="panel">
            <div class="panel-body">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><h3><b>Invoice</b></h3></h5>
                        <p class="card-text">Contains list of Invoice and their details.</p>
                        <a th:href="@{/accounts/invoices}" class="btn btn-primary">Manage Invoice</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-sm-4">
        <section class="panel">
            <div class="panel-body">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><h3><b>Invoice Status</b></h3></h5>
                        <p class="card-text">Contains list of Invoice Status and their details.</p>
                        <a th:href="@{/accounts/invoiceStatus}" class="btn btn-primary">Manage Invoice Status</a>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
</body>
</html>