<!DOCTYPE html>
<html lang="en"
      layout:decorate="_layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<div layout:fragment="content">

  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header"><i class="fa fa fa-bars"></i> Vehicle Edit</h3>
      <ol class="breadcrumb">
        <li><i class="fa fa-home"></i><a th:ref="@{/fleet}">Home</a></li>
        <li><i class="fa fa-bars"></i><a th:ref="@{/fleet/vehicles}">Vehicle List</a></li>
        <li><i class="fa fa-square-o"></i>Vehicle Edit</li>
      </ol>
    </div>
  </div>
  <div class="container" style="width: 70%">
    <form class="form-horizontal" id="cform" method="put" th:action="@{/fleet/vehicle/update/{id}(id=${vehicle.id})}">
      <div class="row justify-content-center white-bg">
        <section class="panel">
          <header class="panel-heading">
            Edit Vehicle Record
          </header>
          <br>
          <div class="col-lg-6">
            <section class="panel">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Vehicle Type: </label>
                <div class="col-sm-6">
                  <select class="form-control" name="vehicletypeid">
                    <option th:value="${null}">-SELECT-</option>
                    <option th:each="vehicleType : ${vehicleTypes}"
                            th:value="${vehicleType.id}"
                            th:selected="${vehicleType.id}==${vehicle.vehicletypeid} ? True: False"
                            th:text="${vehicleType.description}">
                    </option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label for="txtVehicleNameAdd" class="col-sm-4 col-form-label">Vehicle Name: </label>
                <div class="col-sm-6">
                  <input type="text"
                         class="form-control"
                         id="txtVehicleNameAdd"
                         name="name"
                         th:field="${vehicle.name}"
                         placeholder="Vehicle name">
                </div>
              </div>

              <div class="form-group row">
                <label for="txtVehicleNumberAdd" class="col-sm-4 col-form-label">Vehicle Number: </label>
                <div class="col-sm-6">
                  <input type="text"
                         class="form-control"
                         id="txtVehicleNumberAdd"
                         name="vehicleNumber"
                         th:field="${vehicle.vehicleNumber}"
                         placeholder="Vehicle number">
                </div>
              </div>

              <div class="form-group row">
                <label for="txtRegistrationDateAdd" class="col-sm-4 col-form-label">Reg. Date:</label>
                <div class="col-sm-6">
                  <input type="date"
                         class="form-control"
                         id="txtRegistrationDateAdd"
                         name="registrationDate"
                         th:field="${vehicle.registrationDate}"
                         placeholder="Registration date">
                </div>
              </div>

              <div class="form-group row">
                <label for="txtDescriptionAdd" class="col-sm-4 col-form-label">Description: </label>
                <div class="col-sm-6">
                  <textarea type="text"
                            class="form-control"
                            id="txtDescriptionAdd"
                            name="description"
                            th:field="${vehicle.description}"
                            placeholder="Description"
                            rows="2"></textarea>
                </div>
              </div>

              <div class="form-group row">
                <label for="txtAcquisitionDateAdd" class="col-sm-4 col-form-label">Acquisition Date: </label>
                <div class="col-sm-6">
                  <input type="date"
                         class="form-control"
                         id="txtAcquisitionDateAdd"
                         name="acquisitionDate"
                         th:field="${vehicle.acquisitionDate}"
                         placeholder="Acquisition date">
                </div>
              </div>

              <div class="form-group row">
                <label for="ddlVehicleMakeAdd" class="col-sm-4 col-form-label">Vehicle Make: </label>
                <div class="col-sm-6">
                  <select class="form-control" id="ddlVehicleMakeAdd" name="vehiclemakeid">
                    <option th:value="${null}">-SELECT-</option>
                    <option th:each="vehicleMake : ${vehicleMakes}"
                            th:value="${vehicleMake.id}"
                            th:selected="${vehicleMake.id}==${vehicle.vehiclemakeid} ? True: False"
                            th:text="${vehicleMake.description}">
                    </option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label for="ddlVehicleModelAdd" class="col-sm-4 col-form-label">Vehicle Model: </label>
                <div class="col-sm-6">
                  <select class="form-control" id="ddlVehicleModelAdd" name="vehiclemodelid">
                    <option th:value="${null}">-SELECT-</option>
                    <option th:each="vehicleModel : ${vehicleModels}"
                            th:value="${vehicleModel.id}"
                            th:selected="${vehicleModel.id}==${vehicle.vehiclemodelid} ? True: False"
                            th:text="${vehicleModel.description}">
                    </option>
                  </select>
                </div>
              </div>

            </section>
          </div>
          <div class="col-lg-6">
            <section class="panel">

              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Power: </label>
                <div class="col-sm-6">
                  <input type="text"
                         class="form-control"
                         id="ddlPowerAdd"
                         name="power"
                         th:field="${vehicle.power}"
                         placeholder="Power(disel or fuel)">
                </div>
              </div>

              <div class="form-group row">
                <label for="txtFuelCapacityAdd" class="col-sm-4 col-form-label">Fuel Capacity: </label>
                <div class="col-sm-6">
                  <input type="text"
                         class="form-control"
                         id="txtfuelCapacityAdd"
                         name="fuelCapacity"
                         th:field="${vehicle.fuelCapacity}"
                         placeholder="Fuel Capacity">
                </div>
              </div>

              <div class="form-group row">
                <label for="txtNetWeightAdd" class="col-sm-4 col-form-label">Net Weight: </label>
                <div class="col-sm-6">
                  <input type="text"
                         class="form-control"
                         id="txtNetWeightAdd"
                         name="netWeight"
                         th:field="${vehicle.netWeight}"
                         placeholder="Net Weight">
                </div>
              </div>

              <div class="form-group row">
                <label for="ddlEmployeeAdd" class="col-sm-4 col-form-label">In Charge</label>
                <div class="col-sm-6">
                  <select class="form-control" id="ddlEmployeeAdd" name="employeeid">
                    <option th:value="${null}">-SELECT-</option>
                    <option th:each="employee : ${employees}"
                            th:value="${employee.id}"
                            th:selected="${employee.id}==${vehicle.employeeid} ? True: False"
                            th:text="${employee.firstname}">
                    </option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label for="txtRemarksAdd" class="col-sm-4 col-form-label">Remarks: </label>
                <div class="col-sm-6">
                  <textarea type="text"
                            class="form-control"
                            id="txtRemarksAdd"
                            name="remarks"
                            th:field="${vehicle.remarks}"
                            placeholder="Remarks"
                            rows="2"></textarea>
                </div>
              </div>

              <div class="form-group row">
                <label for="ddlCurrentStatusAdd" class="col-sm-4 col-form-label">Current
                  Status</label>
                <div class="col-sm-6">
                  <select class="form-control" id="ddlCurrentStatusAdd" name="vehiclestatusid">
                    <option th:value="${null}">-SELECT-</option>
                    <option th:each="vehicleStatus : ${vehicleStatuses}"
                            th:value="${vehicleStatus.id}"
                            th:selected="${vehicleStatus.id}==${vehicle.vehiclestatusid} ? True: False"
                            th:text="${vehicleStatus.description}">
                    </option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label for="ddlCurrentLocationAdd" class="col-sm-4 col-form-label">Current
                  Location</label>
                <div class="col-sm-6">
                  <select class="form-control" id="ddlCurrentLocationAdd" name="locationid">
                    <option th:value="${null}">-SELECT-</option>
                    <option th:each="location : ${locations}"
                            th:value="${location.id}"
                            th:selected="${location.id}==${vehicle.locationid} ? True: False"
                            th:text="${location.description}">
                    </option>
                  </select>
                </div>
              </div>

            </section>
          </div>
        </section>
      </div>
      <br>
      <div class="row white-bg">
        <div class="panel-body">
          <button type="submit" class="btn btn-primary">
            Save
          </button>
          <a th:href="@{/fleet/vehicles}" class="btn  btn-warning">
            Exit
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
<th:block layout:fragment="script">

</th:block>

</body>
</html>